  .categorychecklist, .children{
    list-style: none;
  }
  #categorychecklist{
    padding-left: 0px;
  }
  #categorychecklist ul li label,#categorychecklist li label{
    font-weight: normal;
    cursor: pointer;
    display: block;
    margin-bottom: 0px;
    border: solid 1px #fff;
    font-size: 13px;
    padding-left: 5px;
    transition: all 0.5s ease;
  }
  #categorychecklist ul li label:hover,#categorychecklist li label:hover{
    border: solid 1px #3c8dbc;
  }
  #category-all{
    display: block;
    height: 250px;
    overflow: auto;
    border: solid 1px #eee;
    padding: 5px;
  }
  
  .error-form-post{
    color: red;
    font-size: 20px;
}

.error{
    color: red;
}

.overlay-details{
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
  border-radius: 3px;
  z-index: 50;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.overlay-details > .fa{
  color: #000;
  font-size: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
}

.pcw-main-title{
  color: #fff;
  float: left;
  font-size: 18px;
  margin-top: 12px;
  text-align: center;
  width: 75%;
}